.home {
    min-height: 100vh;
}

.summary-div {
    width: 100%;
    height: 500px;
    /* background-color: blueviolet;
    background-image: url(../../images/marko-blazevic-SOz6YQcC_5c-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.summary {
    width: 400px;
    /* height: 150px; */
    padding: 50px;
    border-radius: 60px;
    background-color: rgba(192, 238, 174, 0.918);
    font-family: sans-serif;
}