.summary-div {
    width: 100%;
    height: 600px;
    background-color: blueviolet;
    background-image: url(../../images/marko-blazevic-SOz6YQcC_5c-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.summary {
    width: 400px;
    /* height: 150px; */
    padding: 50px;
    border-radius: 60px;
    background-color: rgba(46, 46, 46, 0.363);

}